*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body{
    background-image: linear-gradient(to right, #DECBA4, #4b1803);
}

header{
    width: 100%;
    height: 100vh;
    font-family: Georgia, serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    background-color: burlywood;
    text-shadow: rgb(209, 19, 19);
    padding: 3px 18px;
    transition: 0.6s ease;
    font-family: Georgia, serif;
    border: 1px solid transparent;
    font-size: 22px;
    border-radius: 50px;
}

ul li a:hover{
    background-color: rgba(151, 72, 15, 0.589);
    color:white;
    text-shadow:  4px 3px rgba(223, 24, 24, 0.3),
    0 0 10px rgba(241, 110, 23, 0.692),
    0 0 4px rgba(240, 66, 13, 0.836),
    0 0 7px rgba(230, 109, 10, 0.92),
    0 0 11px rgba(240, 101, 9, 0.78),
    0 0 16px rgba(245, 105, 11, 0.92);
}

ul li.active a{
    background-color: rgba(247, 237, 237, 0.959);
    color:rgb(31, 1, 1);
}

.logo img{
    float: left;
    width: 100px;
    height: auto;   
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
}

.title{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.title h1{
    font-size: 50px;
    color:aliceblue;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
    border-radius: 50px;
}

.title h1:hover{
    background-color: rgba(250, 244, 241, 0.87);
    color:rgb(22, 21, 21);
    text-shadow: 0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(247, 232, 227, 0.692),
    0 0 4px rgba(230, 126, 30, 0.836),
    0 0 7px rgba(230, 127, 10, 0.92),
    0 0 11px rgba(241, 96, 12, 0.78),
    0 0 ;
}

.title h1::after{
    content: "";
    position: absolute;
    width: 95%;
    height: 4px;
    display: block;
    margin: auto;
    background-color: #4b1803;
}

.title p{
    font-size: 22px;
    color: aliceblue;
    margin-bottom: 35px;
    border:1px solid transparent;
    border-radius: 50px;
    padding: 10px 20px;
}

.title p:hover{
    background-color: rgba(250, 244, 241, 0.87);
    color:rgb(22, 21, 21);
    text-shadow: 0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(247, 232, 227, 0.692),
    0 0 4px rgba(230, 126, 30, 0.836),
    0 0 7px rgba(230, 127, 10, 0.92),
    0 0 11px rgba(241, 96, 12, 0.78),
    0 0 ;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(1.2);
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 50px;
    padding: 10px 20px;
}

.about-content h2:hover{
    background-color: rgba(250, 244, 241, 0.87);
    color:rgb(22, 21, 21);
    text-shadow: 0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(247, 232, 227, 0.692),
    0 0 4px rgba(230, 126, 30, 0.836),
    0 0 7px rgba(230, 127, 10, 0.92),
    0 0 11px rgba(241, 96, 12, 0.78),
    0 0 ;
}

.about-content p{
    font-size: 20px;
    line-height: 1.5;
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
}

.about-content p:hover{
    background-color: rgba(250, 244, 241, 0.87);
    color:rgb(22, 21, 21);
    text-shadow: 0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(247, 232, 227, 0.692),
    0 0 4px rgba(230, 126, 30, 0.836),
    0 0 7px rgba(230, 127, 10, 0.92),
    0 0 11px rgba(241, 96, 12, 0.78),
    0 0 ;
}

.about-content .see-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: blanchedalmond;
    color: blue;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top:20px;
    transition: 0.3s ease;
}

.about-content .see-more:hover{
    background-color: beige;
}


@media screen and (max-width: 768px){
    .title{
        padding: 0px 20px;
    }
    .title h1{
        font-size: 36px;
    }
    .title p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .see-more{
        font-size: 16px;
    }
}